<!DOCTYPE html>
<html>
<head>
	<title>GSD Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		.profilePic{
			width: 12rem;
    		height: 12rem;
    		margin-top:3rem;
    		border-radius: 50%;
		}
		.profileCard{
			
    		padding: 2rem;
    		
		}
		
		.subHeading{
			
			text-transform: uppercase;
		}
		body{
			margin:3rem;
		}
		.techIcon{
			height: 5rem;
			margin:18px;
		}
		.date{
			font-size: large;
    		margin-top: 20px;
    		color: #2c5ca5;
		}
		
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<img class="profilePic" src="/images/ProfilePic.jpg">
			</div>
			<div class="col-sm-10">
				<h1>GUDA PRAVEEN KUMAR </h1>
				<br>
				<p>
					Freelancer and Web Developer. I am experienced in developing web applications with various frameworks. Create user-friendly web pages, ensure the technical feasibility of UI/UX designs, build reusable code and directives for future use.
				</p>
				
			</div>
		</div>
		<hr>
		<div>
			<div class="subHeading">
				<h2>Experience</h2>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-7">
					<h3>Tech Startup Sourceasy (Web Developer)</h3>
					
				</div>
				<div class="col-sm-4">
					<div class="date">June 2015 - October 2017</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					Developed critical modules for Sourceasy such as Customer application and Vendor application where entire customers and vendors can be managed by the administrator. Work In Progress application where all the important stages of apparel manufacturing will be shown in a single place to analyse its progress and status. Worked in modifying existing static CMS and made it dynamic so that non technical people can easily make changes.
				</div>
			</div>

		</div>
		<br><hr>
		<div>
			<div class="subHeading">
				<h2>Freelance</h2>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-7">
					<h3>Derya Restaurant</h3>
					
				</div>
				<div class="col-sm-4">
					<div class="date">December 2015</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					Developed a single page application along with a co-worker for a restaurant Derya. The website was made with angularJS framework and bootstrap.<br>
					Link: <a href="http://www.derya-grill.de/#/home" target="_blank">www.derya-grill.de</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-7">
					<h3>Vijaya Infotech Services</h3>
					
				</div>
				<div class="col-sm-4">
					<div class="date">January 2017</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					Developed a single page application for a call center Vijaya Infotech Services based out in Hyderabad, India. This page follows the material design guidelines.<br>
					Link: <a href="http://www.vijayainfotechservices.com" target="_blank">www.vijayainfotechservices.com</a>
				</div>
			</div>

		</div><br><hr>
		<div>
			<div class="subHeading">
				<h2>Education</h2>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-7">
					<h3>Jawaharlal Nehru Technological University, India</h3>
					
				</div>
				<div class="col-sm-4">
					<div class="date">Sept 2011 - May 2015</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					<h4>Bachelor of Technology</h4>
					<div>Computer Science and Engineering</div>
					<div>GPA: 2.1</div>
				</div>
			</div>

		</div><br><hr>
		<div>
			<div class="subHeading">
				<h2>Skills</h2>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					
					<img class="techIcon" src="/images/html.png"/>
					<img class="techIcon" src="/images/css.png"/>
					<img class="techIcon" src="/images/sass-logo.png"/>
					<img class="techIcon" src="/images/less.jpg"/>
					<img class="techIcon" src="/images/javascript.png"/>
					<img class="techIcon" src="/images/jquery.png"/>
					<img class="techIcon" src="/images/angularjs.png"/>
					<img class="techIcon" src="/images/AngularMaterial.jpg"/>
					<img class="techIcon" src="/images/karma.png"/>
					<img class="techIcon" src="/images/java.jpg"/>
					<img class="techIcon" src="/images/bootstrap.png"/>
					<img class="techIcon" src="/images/AngularMaterial.jpg"/>
					<img class="techIcon" src="/images/JSON.png"/>
					
				</div>
			</div>


		</div>
		<br><hr>
		<div>
			<div class="subHeading">
				<h2>Intrests</h2>
			</div>
			
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					Apart from being a web developer, I enjoy most of my time watching sci-fi and fantasy genre movies and television shows, I am an aspiring chef and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development. I play Table Tennis
					
				</div>
			</div>
		</div>
		<br><hr>
		<div style="text-align: center;">
			<h5>Guda Praveen Kumar - praveenguda.kumar@gmail.com - 0176 57905308</h5>
		</div>
	</div>
	
	
</body>
</html>