<div class="login-right" style="padding:0px">
	<h3>Fill Listing Details</h3>
	<div class="login-top">
		<div class="error">
			<span id="error-msg" style="color: red;"></span>
		</div>
		<div class="form-info">

			<input id="listing-title" type="text" placeholder="Title" required="" >

			<textarea id="listing-description" rows="5" cols="35" placeholder="Enter Description"></textarea>

			<div class="row">
				<div class="col-md-4">
					<input id="listing-noOfBeds" type="number" placeholder="Bedrooms" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-noOfBaths" type="number" placeholder="Bathrooms" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-kitchen" type="number" placeholder="Kitchen" required="" >
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-3">
					<input id="listing-noOfLiving" type="number" placeholder="Livingrooms" required="" >
				</div>

				<div class="col-md-3">
					<input id="listing-area" type="number" placeholder="Area" required="" >
				</div>

				<div class="col-md-3">
					<input id="listing-lotArea" type="number" placeholder="Lot Area" required="" >
				</div>
				
				<div class="col-md-3">
					
					<input id="listing-noOfFloors" type="number" placeholder="Floors" required="" >
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-3">
					
					
					<select id="listing-parking" class="in-drop form-control">
						<option value="">Parking</option>
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
				</div>
				<div class="col-md-3">
					<select id="listing-type" class="in-drop form-control">
						<option value="">Ad Type</option>
						<option value="2">Buy</option>
						<option value="1">Rental</option>
					</select>
				</div>

				<div class="col-md-3">
					
					<select id="listing-category" class="in-drop form-control">
						<option value="">Category</option>
						<option value="1">House</option>
						<option value="2">Flat</option>
					</select>
				</div>
				
				<div class="col-md-3">
					<input id="listing-price" type="number" placeholder="Price" required="" >
				</div>
				
			</div>
			<input id="listing-door" type="text" placeholder="Door Number, Street" required="" >
			<input id="listing-city" type="text" placeholder="City" required="" >
			<div class="row">
				<div class="col-md-4">
					<input id="listing-state" type="text" placeholder="State" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-country" type="email" placeholder="Country" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-zip" type="number" placeholder="Zip" required="" >
				</div>
				
			</div>
			<div>
				<input type="file" id="listing-fileUpload" multiple onchange="checkUploadedFile()"/>
			</div>
			<div>
				<div id="listing-images"></div>
			</div>
			
			<div style="width: 100%;text-align: center;">
				<a href="javascript:" class="hvr-sweep-to-right more listing-new-btn">SUBMIT</a> 
				<a href="javascript:" class="hvr-sweep-to-right more listing-update-btn">UPDATE</a> 
				
			</div>
			<br>
		</div>		
	</div>
</div>