<div class="login-right" style="padding:0px">
	<h3>Fill Listing Details</h3>
	<div class="login-top">
		<div class="error">
			<span id="error-msg" style="color: red;"></span>
		</div>
		<div class="form-info">

			<input id="listing-title" type="text" placeholder="Title" required="" >

			<textarea id="listing-description" rows="5" cols="35" placeholder="Enter Description"></textarea>

			<div class="row">
				<div class="col-md-4">
					<input id="listing-noOfBeds" type="text" placeholder="Number of Bedrooms" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-noOfBaths" type="text" placeholder="Number of Bathrooms" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-kitchen" type="text" placeholder="Kitchen" required="" >
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-4">
					<input id="listing-type" type="text" placeholder="Type of Listing" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-area" type="email" placeholder="Area" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-price" type="text" placeholder="Price" required="" >
				</div>
				
			</div>
			<input id="listing-door" type="text" placeholder="Door Number, Street" required="" >
			<input id="listing-city" type="text" placeholder="City" required="" >
			<div class="row">
				<div class="col-md-4">
					<input id="listing-state" type="text" placeholder="State" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-country" type="email" placeholder="Country" required="" >
				</div>
				<div class="col-md-4">
					<input id="listing-zip" type="text" placeholder="Zip" required="" >
				</div>
				
			</div>
			<div>
				<input type="file" id="listing-fileUpload" multiple onchange="checkUploadedFile()"/>
			</div>
			<div>
				<div id="listing-images"></div>
			</div>
			
			<div style="width: 100%;text-align: center;">
				<a href="javascript:" class="hvr-sweep-to-right more listing-new-btn">SUBMIT</a> 
				<a href="javascript:" class="hvr-sweep-to-right more listing-update-btn">UPDATE</a> 
				
			</div>
			<br>
		</div>		
	</div>
</div>