<div class="header-right">
    <div class="banner banner1">

        <div class="container" style="text-align: center;">

            <div style="margin-top:5%">
                <div class="home-caption">
                    <h3><span>Homi</span>ez</h3>
                    <p>YOUR DREAM HOME AWAITS </p>
                </div>

                <div class="row">
                    <br>
                    <div class="col-md-9" style="text-align: right;">
                        <input id="txtSearch" type="text" class="searchBox form-control" placeholder="Enter City, State, Zip">

                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <input id="btnSearch" type="button" class="searcBtn search_button btn btn-default" name="Search" value="Search">
                    </div>
                </div>
                <div class="row" style="color: #FFF">
                    <br>
                    <div class="col-md-3" style="text-align: left;">
                        <h4 style="margin-bottom: 5px;">Type Of Accomodation</h4>
                        <select id="ddType" class="in-drop form-control">
                            <option value="">Select Type</option>
                            <option value="1">Appartment</option>
                            <option value="2">House</option>
                        </select>
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <h4 style="margin-bottom: 5px;">Bedrooms</h4>
                        <select id="ddBedroom" class="in-drop form-control">
                            <option value="">Select Bedrooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-md-3" style="text-align: left;">
                        <h4 style="margin-bottom: 5px;">Square feet</h4>
                        <input id="txtSqft" type="text" class="form-control"  placeholder="Enter Square feet">
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <!--<h4 style="margin-bottom: 5px;">Budget</h4>-->
                        <!--<select id="ddBudget" class="in-drop form-control">-->
                        <!--<option value="">Budget</option>-->
                        <!--<option value="10000-200000">10000-200000</option>-->
                        <!--<option value="20000-300000">20000-300000</option>-->
                        <!--<option value="30000-400000">30000-400000</option>-->
                        <!--<option value="40000-500000">40000-500000</option>-->
                        <!--<option value="50000-600000">50000-600000</option>-->
                        <!--<option value="60000-700000">60000-700000</option>-->
                        <!--<option value="70000-800000">70000-800000</option>-->
                        <!--<option value="80000-9000000">80000-9000000</option>-->
                        <!--<option value="900000-10000000">900000-10000000</option>-->
                        <!--</select>-->
                        <h4 style="margin-bottom: 5px;">Ad Type</h4>
                        <select id="ddAdType" class="in-drop form-control">
                            <option value="">Select Ad Type</option>
                            <option value="1">Rental</option>
                            <option value="2">Buy</option>
                        </select>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>